.about {
	background: url("../img/noise.png"), white;
	.container {
		padding: 160px 15px 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__inner {
		max-width: 700px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	&__img {
		width: calc(100% - 800px);
		min-width: 200px;
		max-width: 400px;
		aspect-ratio: 1/1;
		.flip-card {
			background-color: transparent;
            width: 100%;
            height: 100%;
			perspective: 1000px;
            border-radius: 50%;
            will-change: transform;
            &:hover .flip-card-inner {
                transform: rotateY(-180deg);
            }
            &-inner {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.5s;
                transform-style: preserve-3d;
                will-change: transform;
            }
            &-front,
		    &-back {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                border-radius: 50%;
                overflow: hidden;
                will-change: transform;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    &:last-child{
                        object-fit: contain;
                        background-color: #dbcfc975;
                    }
                }
		    }
            &-back {
                transform: rotateY(-180deg);
            }
		}
	}
	&-title {
		color: var(--primal-text-color);
		font-size: 34px;
		margin-bottom: 40px;
        span{
            color: rgb(47, 199, 47);
        }
	}
	&-text {
		color: var(--primal-text-color);
		font-size: 22px;
		margin-bottom: 60px;
        line-height: 150%;
        span{
            color: rgb(42, 185, 42);
        }
	}
	&__skills {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		gap: 20px;
		img {
			width: 50px;
			height: 50px;
			object-fit: contain;
		}
	}
}
