.alert{
    background-color: #121212;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transform: translateY(100%);
    transition: .4s transform ease-in-out, .6s opacity ease-in-out;
    opacity: 0;
    will-change: transform;
    &.active{
        transform: translateY(0);
        opacity: 1;
    }
    .container{
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    p{
        font-size: 16px;
    }
    .close{
        padding: 8px 30px;
        background-color: white;
        font-size: 18px;
        font-weight: 500;
    }
}