.header{
    width: 100%;
    background-color: rgba(165, 105, 71, 0.459);
    backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    .container{
        padding: 18px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        color: white;
        font-size: 32px;
        img{
            max-width: 180px;
        }
    }
    &__nav{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        gap: 40px;
        li{
            transition: .3s transform;
            &:hover{
                transform: translate(-1px, -1px);
            }
        }
        a{
            font-size: 20px;
            color: white;
            position: relative;
            font-weight: 700;
            text-shadow: 5px 3px #e6e2aa79;
            transition: .3s all;
            &:hover{
                text-shadow: 8px 6px #e6e2aa79;
            }
        }
    }
    &__links{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        a{
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        svg{
            width: 20px;
            height: 20px;
            path{
                fill: #231F20;
                transition: .3s all;
            }
        }
    }
}