.works{
    overflow-x: hidden;
	background: url("../img/noise.png"), rgb(226, 233, 238);
    .container{
        padding: 100px 15px 100px;
    }
    &-title{
        width: max-content;
        font-size: 54px;
        color: var(--primal-text-color);
        margin: 0 auto 60px;
        text-align: center;
    }
    .swiper{
        width: 80%;
        aspect-ratio: 16/9;
        overflow: visible;
        &-slide{
            width: 100%;
            height: 100%;
            will-change: transform;
            position: relative;
            padding: 20px 10px 40px;
            background-color: #414242;
            transform: scale(0.5);
            transition: 0.3s transform;
            border-radius: 10px;
            border-radius: 20px;
            &-active{
                transform: scale(1);
            }
            img{
                margin-top: 50px;
                width: 100%;
            }
        }
    }
    &-window{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            width: 10px;
            height: 100%;
            background-color: white;
            &-thumb{
                background-color: rgb(216, 216, 216);
            }
        }
        .tab{
            padding: 10px 20px;
            width: calc(100% - 30px);
            height: 50px;
            background-color: rgb(216, 216, 216);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            top: 20px;
            left: 10px;
            .dots{
                width: 20px;
                height: 20px;
                border-radius: 10px;
                margin-right: 10px;
                cursor: pointer;
                &:nth-child(1){
                    background-color: #f86158;
                }
                &:nth-child(2){
                    background-color: #fcc02a;
                }
                &:nth-child(3){
                    background-color: #25cd3e;
                    margin-right: 20px;
                }
            }
            .path{
                background-color: white;
                padding: 5px 10px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                overflow: hidden;
                width: calc(100% - 100px);
                border-radius: 5px;
                a{
                    white-space: nowrap;
                    font-size: 14px;
                }
            }
        }
    }
}