mixin about()
    section.about#about
        .container 
            .about__inner
                h1.about-title Hello, I'm Avazov Jasur.
                p.about-text I am an 18 year old, with <span>2 years of experience</span> who is passionate about <span>creative work</span> and <span>loves to learn</span>. I have experience of <span>working in teams</span> and consider myself a <span>full stack programmer</span>. In addition, I speak Russian, Uzbek and English.<br /><br />
                    |   On my portfolio website, I will showcase my work and provide insights into my skills and achievements. Stay tuned for updates and feel free to explore my projects and get to know me better.
                ul.about__skills 
                    li 
                        img(src="@img/skills/html.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/css.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/js.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/pug.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/sass.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/gsap.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/gulp.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/webpack.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/go.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/python.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/react.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/nextjs.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/vue.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/nuxtjs.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/bb.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/gitlab.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/github.png" alt="" draggable="false")
                    li 
                        img(src="@img/skills/jira.png" alt="" draggable="false")
            .about__img 
                img(src="@img/avatar.png" alt="" draggable="false")
                .about__img-bg 
                //- .flip-card
                //-     .flip-card-inner
                //-         .flip-card-front
                //-             img(src="@img/avatar.png" alt="" draggable="false")
                //-         .flip-card-back
                //-             img(src="@img/avatar-anim.png" alt="" draggable="false")
