mixin experience()
    .experience#experience
        .container
            h2.experience-title Experience
            .experience__items
                .experience__items-card
                    h3.experience__items-title AxCapital
                    h5.experience__items-subtitle Front-end Developer
                    p.experience__items-text <span>experience:</span> 28.11.2022 - 30.03.2023
                    p.experience__items-text <span>working stack:</span> gsap, gulp, webpack, swiperjs, animejs, pug, sass, js, vue, nuxt, php, drupal
                    p.experience__items-text <span>responsibilities:</span> made cool and beautiful websites and templates for selling skyscrapers. I mainly worked with the designer, he gave me the design, I made up the layout, added the admin panel and uploaded it to the hosting. sometimes I got big sites that I did with 2-10 people.
                //- .experience__items-card
