mixin footer()
    footer.footer   
        .footer__body.container 
            .footer__nav 
                ul 
                    li 
                        p.title Navigation
                    li 
                        a(href="#about") About
                    li 
                        a(href="#experience") Experience
                    li 
                        a(href="#works") Works
                    li 
                        a(href="#games") Games
                    li 
                        a(href="#") Top
                ul 
                    li 
                        p.title Contact
                    li 
                        a(href="tel:+998971701340" target="_blank") +998 (97) 170-13-40
                    li 
                        a(href="tel:+998909331340" target="_blank") +998 (90) 933-13-40
                    li 
                        a(href="https://www.instagram.com/web_100101100/" target="_blank") Instagram
                    li 
                        a(href="https://t.me/Avazov_Jasur" target="_blank") Telegram
                    li 
                        a(href="https://github.com/JasurAvazov" target="_blank") GitHub