mixin works()
    section.works 
        .container 
            h2.works-title Works
            .swiper.works-swiper
                .swiper-wrapper
                    .swiper-slide 
                        .works-window
                            .tab
                                .dots
                                .dots
                                .dots
                                a(href="https://jasuravazov.github.io/modern-generation-streaming/dist/index.html" target="_blank") https://jasuravazov.github.io/modern-generation-streaming/dist/index.html
                            img(src="@img/works/mgs.png", alt="" draggable="false")
                    .swiper-slide 
                        .works-window
                            .tab
                                .dots
                                .dots
                                .dots
                                a(href="https://jasuravazov.github.io/the-prime-meat/dist/index.html" target="_blank") https://jasuravazov.github.io/the-prime-meat/dist/index.html
                            img(src="@img/works/meat.png", alt="" draggable="false")
                    .swiper-slide 
                        .works-window
                            .tab
                                .dots
                                .dots
                                .dots
                                a(href="https://jasuravazov.github.io/modern-generation-streaming/dist/index.html" target="_blank") https://jasuravazov.github.io/modern-generation-streaming/dist/index.html
                            img(src="@img/works/mgs.png", alt="" draggable="false")
                .swiper-pagination.works-swiper-pagination