mixin works()
    section.works#works 
        .container 
            h2.works-title Works
            .swiper.works-swiper
                .swiper-wrapper
                    .swiper-slide 
                        .works-window
                            .tab
                                .dots
                                .dots
                                .dots
                                .path
                                    a(href="https://jasuravazov.github.io/modern-generation-streaming/dist/index.html" target="_blank") https://jasuravazov.github.io/modern-generation-streaming/dist/index.html
                            img(src="@img/works/mgs.png", alt="" draggable="false")
                    .swiper-slide 
                        .works-window
                            .tab
                                .dots
                                .dots
                                .dots
                                .path
                                    a(href="https://jasuravazov.github.io/the-prime-meat/dist/index.html" target="_blank") https://jasuravazov.github.io/the-prime-meat/dist/index.html
                            img(src="@img/works/meat.png", alt="" draggable="false")
                    .swiper-slide 
                        .works-window
                            .tab
                                .dots
                                .dots
                                .dots
                                .path
                                    a(href="https://jasuravazov.github.io/theCommunity/dist/index.html" target="_blank") https://jasuravazov.github.io/theCommunity/dist/index.html
                            img(src="@img/works/saadiyat.png", alt="" draggable="false")
                    .swiper-slide 
                        .works-window
                            .tab
                                .dots
                                .dots
                                .dots
                                .path
                                    a(href="https://exim-agro.vercel.app/" target="_blank") https://exim-agro.vercel.app/
                            img(src="@img/works/exim-agro.png", alt="" draggable="false")
                .swiper-button-next.works-swiper-button-next
                .swiper-button-prev.works-swiper-button-prev