mixin works()
    section.works 
        .container 
            h2.works-title Works
            .swiper.works-swiper
                .swiper-wrapper
                    .swiper-slide 
                        .works-window
                            img(src="@img/works/mgs.png", alt="" draggable="false")
                    .swiper-slide 
                        .works-window
                            img(src="@img/works/meat.png", alt="" draggable="false")
                    .swiper-slide 
                        .works-window
                            img(src="@img/works/mgs.png", alt="" draggable="false")
                .swiper-pagination.works-swiper-pagination