// Тема по умолчанию
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	font-family: "Montserrat", sans-serif;
	// cursor: none !important;
	&:focus,
	&:active {
		outline: none;
	}
}
html,
body {
	height: 100%;
	background: url("../img/noise.png"), white;
	scroll-behavior: smooth;
	overscroll-behavior: none;
    &::-webkit-scrollbar{
        width: 10px;
        background-color: white;
        &-thumb{
            background-color: #a5694775;
        }
    }
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	.main {
		flex: 1 1 auto;
	}
}
button {
	background: none;
	border: none;
	cursor: pointer;
}
a {
	color: inherit;
	text-decoration: none;
}
ul {
	list-style-type: none;
}
// .custom-cursor {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 15px;
// 	height: 15px;
// 	border-radius: 50%;
// 	pointer-events: none;
// 	z-index: 9999;
//     will-change: transform;
// 	transform: translate(-7px, -7px);
// 	mix-blend-mode: difference;
// 	background: #0046c9;
// }
// .custom-second-cursor {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 29px;
// 	height: 29px;
// 	border-radius: 50%;
// 	pointer-events: none;
// 	z-index: 9999;
// 	transform: translate(-14px, -14px);
//     will-change: transform;
// 	mix-blend-mode: difference;
//     border: 1px solid #0046c9;
// }